body {
    margin: 0;
    background-color: black;
    /* background-image: url('../DoctorWho/spaceBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; */
    font-family: 'Press Start 2P', cursive;
    

}
#mazeContainer {
    background-image: url('../DoctorWho/spaceBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    /* animation: spin 4s infinite linear; */
}
/* @keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
} */
.boardContainer {
    height: 105vh;
    background-image: url('../DoctorWho/spaceBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.infoBoard {
    margin-left: auto;
    margin-right: auto;
    height: 12%;
    font-family: 'Press Start 2P', cursive;
    border: 5px solid black;
    background-color: black;
    vertical-align: middle;
    color: blue
}
.maze {
    font-size: 0;
    display: inline-block;
    border: 5px solid black;
    margin-top: 3%
    
}
h4 {
    margin: 0 auto;
    /* font-size: 1.3vmax */
    font-size: 100%
}

#energy {
    margin: 6%
}
#lives {
    margin: 6%
}



.column {
    float: left;
    height: 4vmax;
    padding-top: .5%;
    /* padding-bottom: 2% */
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }
.columnB {
    display: inline-block;
    width: 33.3%;
    width: 3.5vmax;
    height: 3.5vmax;
    margin: 10px
  }
#right {
    width: 25%
}
#middle {
    width: 25%
}
#left {
    width: 25%
}
#level {
    width: 25%
}
.square {
    height: 5.6vh
}
.maze div {
    width:  6vh;
    /* position:  */
    /* position: fixed; */
    /* height: 6vh; */
    /* width:  3.25vmax;
    height: 3.25vmax; */
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: black;
}
.wall {
    background-image: url('../DoctorWho/tile2.png');
    background-size: contain;

}
.coin {
    background-image: url('../DoctorWho/coin.gif');
    background-size: cover;
    background-repeat: no-repeat;

}
.tardis {
    background-image: url('../DoctorWho/tardis.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.doctor11Right {
    background-image: url('../DoctorWho/11RunningRight.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.doctor11Left {
    background-image: url('../DoctorWho/11RunningLeft.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.doctor12Right {
    background-image: url('../DoctorWho/doctor12.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.doctor12Left {
    background-image: url('../DoctorWho/doctor12Left.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.doctor13Right {
    background-image: url('../DoctorWho/doctor13right.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.doctor13Left {
    background-image: url('../DoctorWho/doctor13left.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.alien {
    background-image: url('../DoctorWho/redDalek2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien1 {
    background-image: url('../DoctorWho/redDalek2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien2 {
    background-image: url('../DoctorWho/dalek.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien3 {
    background-image: url('../DoctorWho/dalek1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien4 {
    background-image: url('../DoctorWho/dalek2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien5 {
    background-image: url('../DoctorWho/dalek.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien6 {
    background-image: url('../DoctorWho/dalek2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.alien7 {
    background-image: url('../DoctorWho/weepingAngelTwo.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.screwdriver11 {
    background-image: url('../DoctorWho/11Screwdriver.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screwdriver12 {
    background-image: url('../DoctorWho/12Screwdriver1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screwdriver13 {
    background-image: url('../DoctorWho/doctor13screwdriver.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.key {
    background-image: url('../DoctorWho/spinningKey2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.companion {
    background-image: url('../DoctorWho/dalek2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.firstDiv {
    height: 5%;
}
.highScoreBoard {
    background-color: black;
    position: relative;
    /* height: 43vmax;
    width: 50vmax; */
    width: 60%;
    height: 80%;
    margin: 0 auto;
    border: 5px solid red;
}
/* .highScoreBoard:after {
    content: "";
    display: block;
    padding-bottom: 70%;
} */

.nameRegister {
    font-size: 1.5em;
}
.highScore, .nameRegister {
    color: rgb(252, 0, 34);
    text-align: center;
    padding: 5px; 
    margin: 0 auto
}
.nameRegisteredSpot {
    padding-top: 1.5%;
    height: 4vh;
    color: rgb(74, 244, 250);
    text-align: center;
}

.highScore {
    margin-top: 1.5%;
}
.playerScore {
    color: white;
    text-align: center;
    padding: 10px 
}
.columnC {
    height: 2vmax;
    margin: 0 auto
}
#name, #nameEnter {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(74, 244, 250);
}
#name {
    display:inline-block;
    text-align: right;
    width: 42%;

}
#nameEnter {
    display:inline-block;
    text-align: left;
    text-decoration: underline;
    width: 40%;
    padding: 0 0 0 10px;
}
.row1 {
    display:inline-block;
    width: 10%;
    height: 100%;
    text-decoration: underline

}
.alphabet {
    text-align: center;
    width: 50%;
    display: inline-block;
    margin: 0 25% 0 

}
.letter {
    width: 8%;
    font-size: 1.25em;
    padding: 8px;
    color: greenyellow;
    display: inline-block;
    cursor: pointer;
}
.letter:hover { 
    background-color: re;
  }
.nameRegistered {
    color: rgb(74, 244, 250);
    text-align: center;
}
.playerNameTable {
 height: 30%;
 /* width: 60%;
 display: inline-block; */
 margin: 0% 20% 0 20%

}
.rank {
    font-size: 1.25em;
    text-align: center;
    width: 20%;
    display: inline-block
}
.rank1, .rank2 , .rank3, .score1, .score2, .score3, .name1, .name2, .name3 {
    color: rgb(252, 0, 34);
}
.rank4, .rank5, .score4, .score5, .name4, .name5 {
    color:  yellow;
}
.score {
    font-size: 1.25em;
    width: 20%;
    display: inline-block;
    text-align: center
}
.playerName {
    font-size: 1.25em;
    /* width: 60%; */
    display: inline-block
}
.playerRow {
    /* height: 11%; */
    padding: 1.5%
    
}
@media screen and (max-width: 600px) {
    body {
        font-size: .8em;
    }
}
.player5 {
    padding-bottom: 6%
}

.replayButton{
    font-size: 1.25em;
    color: rgb(252, 0, 34);
    border: 5px solid red;
    text-align: center;
    cursor: pointer;
    background-color: black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    width: fit-content;
}